h1 {
    color: blue;font-size: 50px;
}
button {
    background-color: brown;font-size: 20px;border-bottom: 20px;border-color: white;color: white
}
#inputtext{
    color: black;background-color: pink;
}
.sticker{
    border-color: red;
    border: 100px; 
    background-color:pink;
    color: red;
}
table{
    border-radius: 20px;
    border-color: black;
}
p{
    color: red;
}
#row1{color: val(text-color);}
#row2{color: val(--text-color);}
#row3{color: val(text-color);}
:roof{
    --text-color: red;
}
